/* Backgrounds for Artists Menu */

.realism__one {
  background-image: url('../img/header_artists/realism/1.jpg');
}

.realism__two {
  background-image: url('../img/header_artists/realism/2.jpg');
}

.realism__three {
  background-image: url('../img/header_artists/realism/3.jpg');
}

.realism__four {
  background-image: url('../img/header_artists/realism/4.jpg');
}

.impress__one {
  background-image: url('../img/header_artists/impress/1.jpg');
}

.impress__two {
  background-image: url('../img/header_artists/impress/2.jpg');
}

.impress__three {
  background-image: url('../img/header_artists/impress/3.jpg');
}

.impress__four {
  background-image: url('../img/header_artists/impress/4.jpg');
}

.postimpress__one {
  background-image: url('../img/header_artists/postimpress/1.jpg');
}

.postimpress__two {
  background-image: url('../img/header_artists/postimpress/2.jpg');
}

.postimpress__three {
  background-image: url('../img/header_artists/postimpress/3.jpg');
}

.postimpress__four {
  background-image: url('../img/header_artists/postimpress/4.jpg');
}

.avantgarde__one {
  background-image: url('../img/header_artists/avantgarde/1.jpg');
}

.avantgarde__two {
  background-image: url('../img/header_artists/avantgarde/2.jpg');
}

.avantgarde__three {
  background-image: url('../img/header_artists/avantgarde/3.jpg');
}

.avantgarde__four {
  background-image: url('../img/header_artists/avantgarde/4.jpg');
}

.futurism__one {
  background-image: url('../img/header_artists/futurism/1.jpg');
}

.futurism__two {
  background-image: url('../img/header_artists/futurism/2.jpg');
}

.futurism__three {
  background-image: url('../img/header_artists/futurism/3.jpg');
}

.futurism__four {
  background-image: url('../img/header_artists/futurism/4.jpg');
}