/* Базовые (основные) стили: */

:root {
  --main-color: #9D5CD0;
  --hover-color: #C283F3;
  --active-color: #7943A4;
  --border-color: #D1A9F0;
}

body {
  position: relative;
  font-family: 'opensans', sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

a:focus,
button:focus,
[type="submit"]:focus {
  outline: 3px solid var(--main-color);
  outline-offset: 2px;
}

button,
input {
  font-family: 'opensans', sans-serif;
}

header {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

section {
  padding: 80px 0;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  max-width: 1700px;
}

.page {
  overflow: hidden;
}

.section-title {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.section-subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.section-link {
  font-weight: 600;
  color: var(--hover-color);
  transition: color .2s ease;
}

@media (min-width: 1025px) {
  .section-link:hover {
    text-decoration: underline;
  }
}

.section-link:active {
  color: var(--active-color);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  z-index: -1;
}

/* Общие стили для кнопок: */

.btn {
  position: relative;
  border-radius: 100px;
  text-align: center;
}

.btn:focus {
  outline: none;
}

.btn:active {
  border-color: var(--border-color);
  background-color: var(--active-color);
}

.btn.focus-visible::after {
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  content: '';
  border-radius: 100px;
  box-shadow: 0 0 0 2px var(--hover-color);
}

.btn:active::after {
  box-shadow: none;
}

@media (min-width: 1025px) {

  .btn:hover {
    border-color: var(--border-color);
  }

}

/* Overlay */

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease, visibility .2s ease;
  z-index: 99;
}

.overlay--open {
  opacity: 1;
  visibility: visible;
}

/* Блокировка скролла */

.lock {
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Simplebar Styles */

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  right: 19px;
  bottom: 40px;
  width: 2px;
  background-color: #000;
}

.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

/* Убираем стрелки с input.type="number", добавляем белый цвет шрифту: */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"],
input[type="number"]::placeholder {
  color: #fff;
}