/* Keyframes */

@keyframes hero__bg-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes hero__bg-change--fhd {
  0% {
    background-image: url('../img/hero/bg/main_1.jpg');
  }

  10% {
    background-image: url('../img/hero/bg/main_1.jpg');
  }

  20% {
    background-image: url('../img/hero/bg/main_1.jpg');
  }

  30% {
    background-image: url('../img/hero/bg/main_2.jpg');
  }

  40% {
    background-image: url('../img/hero/bg/main_2.jpg');
  }

  50% {
    background-image: url('../img/hero/bg/main_2.jpg');
  }

  60% {
    background-image: url('../img/hero/bg/main_3.jpg');
  }

  70% {
    background-image: url('../img/hero/bg/main_3.jpg');
  }

  80% {
    background-image: url('../img/hero/bg/main_3.jpg');
  }

  90% {
    background-image: url('../img/hero/bg/main_1.jpg');
  }

  100% {
    background-image: url('../img/hero/bg/main_1.jpg');
  }
}

@keyframes hero__bg-change--1024 {
  0% {
    background-image: url('../img/hero/bg_1024/main_1.jpg');
  }

  10% {
    background-image: url('../img/hero/bg_1024/main_1.jpg');
  }

  20% {
    background-image: url('../img/hero/bg_1024/main_1.jpg');
  }

  30% {
    background-image: url('../img/hero/bg_1024/main_2.jpg');
  }

  40% {
    background-image: url('../img/hero/bg_1024/main_2.jpg');
  }

  50% {
    background-image: url('../img/hero/bg_1024/main_2.jpg');
  }

  60% {
    background-image: url('../img/hero/bg_1024/main_3.jpg');
  }

  70% {
    background-image: url('../img/hero/bg_1024/main_3.jpg');
  }

  80% {
    background-image: url('../img/hero/bg_1024/main_3.jpg');
  }

  90% {
    background-image: url('../img/hero/bg_1024/main_1.jpg');
  }

  100% {
    background-image: url('../img/hero/bg_1024/main_1.jpg');
  }
}

@keyframes hero__bg-change--768 {
  0% {
    background-image: url('../img/hero/bg_768/main_1.jpg');
  }

  10% {
    background-image: url('../img/hero/bg_768/main_1.jpg');
  }

  20% {
    background-image: url('../img/hero/bg_768/main_1.jpg');
  }

  30% {
    background-image: url('../img/hero/bg_768/main_2.jpg');
  }

  40% {
    background-image: url('../img/hero/bg_768/main_2.jpg');
  }

  50% {
    background-image: url('../img/hero/bg_768/main_2.jpg');
  }

  60% {
    background-image: url('../img/hero/bg_768/main_3.jpg');
  }

  70% {
    background-image: url('../img/hero/bg_768/main_3.jpg');
  }

  80% {
    background-image: url('../img/hero/bg_768/main_3.jpg');
  }

  90% {
    background-image: url('../img/hero/bg_768/main_1.jpg');
  }

  100% {
    background-image: url('../img/hero/bg_768/main_1.jpg');
  }
}

@keyframes hero__bg-change--375 {
  0% {
    background-image: url('../img/hero/bg_375/main_1.jpg');
  }

  10% {
    background-image: url('../img/hero/bg_375/main_1.jpg');
  }

  20% {
    background-image: url('../img/hero/bg_375/main_1.jpg');
  }

  30% {
    background-image: url('../img/hero/bg_375/main_2.jpg');
  }

  40% {
    background-image: url('../img/hero/bg_375/main_2.jpg');
  }

  50% {
    background-image: url('../img/hero/bg_375/main_2.jpg');
  }

  60% {
    background-image: url('../img/hero/bg_375/main_3.jpg');
  }

  70% {
    background-image: url('../img/hero/bg_375/main_3.jpg');
  }

  80% {
    background-image: url('../img/hero/bg_375/main_3.jpg');
  }

  90% {
    background-image: url('../img/hero/bg_375/main_1.jpg');
  }

  100% {
    background-image: url('../img/hero/bg_375/main_1.jpg');
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}