/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  /* height: 100%; */
}

/* Header Burger Button */

.header__burger {
  position: relative;
  display: none;
  width: 36px;
  height: 28px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  animation: fadeIn .25s ease-in-out .2s backwards;
  transition: width .35s ease, opacity .35s ease;
  z-index: 11;
}

.header__burger::before,
.header__burger::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform-origin: center left;
  transition: background-color .2s ease, width .2s ease, transform .2s ease;
}

.header__burger::after {
  top: auto;
  bottom: 0;
  width: 24px;
}

.header__burger-center-line {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  width: 30px;
  height: 3px;
  transform: translateY(-50%);
  background-color: #fff;
  transition: background-color .2s ease;
}

.header__burger--active::before,
.header__burger--active:hover::before {
  width: 100%;
  transform: rotate(45deg);
}

.header__burger--active::after,
.header__burger--active:hover::after {
  width: 100%;
  transform: rotate(-45deg);
}

.header__burger--active .header__burger-center-line {
  display: none;
}

.header__burger--hidden {
  width: 0;
  animation: fadeOut .25s ease-in-out forwards;
  z-index: 1;
}

@media (min-width: 1025px) {

  .header__burger:hover::before {
    width: 24px;
  }

  .header__burger:hover::after {
    width: 100%;
  }

  .header__burger--active:hover::before {
    width: 100%;
  }

  .header__burger:hover::before,
  .header__burger:hover::after,
  .header__burger:hover .header__burger-center-line {
    background-color: var(--hover-color);
  }

}

/* Header Top */

.header__top {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100px;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  transition: height .2s ease .2s, background .2s ease;
}

.header__container {
  position: relative;
  width: 100%;
}

.header__logo {
  /* margin-right: 179px; */
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}

.header__nav {
  flex: 0 1 78%;
  z-index: 10;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.nav__item {
  max-width: 250px;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  display: inline-block;
  max-width: 100%;
  padding: 2px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: color .2s ease;
}

.personal-account__link {
  display: inline-block;
  margin-left: auto;
  padding: 2px 4px;
  max-width: 200px;
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .2s ease;
}

.personal-account__icon-path {
  transition: fill .2s ease, d .2s ease;
}

@media (min-width: 1025px) {

  .nav__link:hover {
    color: var(--hover-color);
  }

  .personal-account__link:hover {
    color: var(--hover-color);
  }

  .personal-account__link:hover .personal-account__icon-path {
    d: path("M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z");
    d: "M9.62056 9.09278L10.6389 10.1111L14.25 6.5L10.6389 2.88889L9.62056 3.90722L11.4839 5.77778H0V7.22222H11.4839L9.62056 9.09278ZM16.0556 0H5.94444C5.14278 0 4.5 0.65 4.5 1.44444V4.33333H5.94444V1.44444H16.0556V11.5556H5.94444V8.66667H4.5V11.5556C4.5 12.35 5.14278 13 5.94444 13H16.0556C16.85 13 17.5 12.35 17.5 11.5556V1.44444C17.5 0.65 16.85 0 16.0556 0Z";
    fill: var(--hover-color);
  }

}

.nav__link:active {
  color: var(--active-color);
}

.personal-account__link:active {
  color: var(--active-color);
}

.personal-account__link:active .personal-account__icon-path {
  fill: var(--active-color);
}

/* Header Bottom */

.header__bottom {
  min-height: 70px;
  background-color: rgba(0, 0, 0, .4)
}

.artists__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  line-height: 1;
}

.artists__item {
  max-width: 250px;
  height: 100%;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1;
}

.artists__item:not(:last-child) {
  margin-right: 97px;
}

.artists__link {
  position: relative;
  padding: 2px 4px;
  padding-right: 20px;
  line-height: 70px;
  transition: color .2s ease;
  z-index: 11;
}

.artists__link:before {
  position: absolute;
  top: 45%;
  right: 8px;
  content: '';
  width: 8px;
  height: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg) translateY(-55%);
  transition: border-color .2s ease;
}

.artists__item--visible .artists__link,
.artists__item--visible .artists__link:before {
  color: var(--hover-color);
  border-color: var(--hover-color);
  transform: rotate(-135deg) translateY(-100%);
  transform-origin: right top;
}

.artists__item--active .artists__link,
.artists__item--active .artists__link:before {
  color: var(--active-color);
  border-color: var(--active-color);
  transform: rotate(-135deg) translateY(-100%);
  transform-origin: right top;
}

@media (min-width: 1025px) {

  .artists__link:hover {
    color: var(--hover-color);
  }

  .artists__link:hover:before {
    border-color: var(--hover-color);
  }

}

.artists__link:active {
  color: var(--active-color);
}

.artists__link:active:before {
  border-color: var(--active-color);
  transform: rotate(-135deg) translateY(-100%);
  transform-origin: right top;
}

/* Dropdown Menu */

.artists__dropdown-list {
  position: absolute;
  display: block;
  padding: 40px 0;
  min-width: 300px;
  max-height: 300px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  background-color: rgba(0, 0, 0, .6);
  transition: opacity .35s ease-in-out, visibility .35s ease-in-out, transform .35s ease-in-out;
  ;
}

.artists__dropdown-list::before {
  position: absolute;
  top: -70px;
  left: 0;
  display: inline-block;
  content: '';
  width: 100%;
  height: 70px;
  z-index: 10;
}

.artists__item--active .artists__dropdown-list,
.artists__item--visible .artists__dropdown-list {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.artists__dropdown-item {
  margin: 0 auto;
  width: 220px;
  height: 40px;
}

.artists__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.artists__dropdown-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  transition: border-color .2s ease;
}

.artists__dropdown-link::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, .4);
  opacity: 0;
  transition: opacity .2s ease;
}

.artists__name {
  position: absolute;
  top: 50%;
  left: 14px;
  width: 100%;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translateY(-50%);
}

@media (min-width: 1025px) {

  .artists__dropdown-link:hover {
    border-color: var(--main-color);
  }

}

.artists__dropdown-link:active::before {
  opacity: 1;
}

.artists__dropdown-link:active {
  border-color: var(--border-color);
}

/* Site Searchbar */

.search {
  position: relative;
  display: flex;
  margin-left: auto;
  padding: 2px 4px;
  padding-left: 35px;
  width: 251px;
  cursor: pointer;
  z-index: 1;
}

.searchbar {
  border: none;
  border-bottom: 1px solid #fff;
  height: 26px;
  width: 100%;
  color: #fff;
  background-color: transparent;
  transition: border-color .2s ease;
  cursor: pointer;
  caret-color: var(--hover-color);
}

.search__rect,
.search-top__rect,
.search__path,
.search-top__path {
  transition: fill .2s ease;
}

.search__btn {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 36px;
  height: 100%;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.search__btn:focus,
.searchbar:focus {
  outline: none;
}

.search-top {
  display: none;
}

.search-top__btn-close {
  position: relative;
  visibility: hidden;
  width: 0;
  height: 29px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0;
  transform: rotate(45deg);
  transition: width .2s ease .2s, opacity .35s ease .2s, transform .35s ease-in-out .2s;
}

.search-top__btn-close::before,
.search-top__btn-close::after {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.search-top__btn-close::before {
  top: 13px;
  transform: rotate(45deg);
}

.search-top__btn-close::after {
  bottom: 13px;
  transform: rotate(-45deg);
}

.search-top__btn-close--active {
  visibility: visible;
  width: 29px;
  opacity: 1;
  transform: rotate(-180deg);
}

@media (min-width: 1025px) {

  .search:hover .searchbar {
    border-color: var(--hover-color);
  }

  .search:hover .searchbar::placeholder {
    color: rgba(255, 255, 255, .6);
  }

  .search:hover .search__rect,
  .search:hover .search-top__rect,
  .search:hover .search__path,
  .search:hover .search-top__path {
    fill: var(--hover-color);
  }

}

.searchbar::placeholder {
  color: #fff;
  transition: color .2s ease;
}

.searchbar:active::placeholder,
.search:hover .searchbar.focus-visible::placeholder,
.searchbar.focus-visible::placeholder {
  color: transparent;
}

/* Hero Section */

.hero {
  position: relative;
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: hero__bg-scale 8s linear infinite alternate,
    hero__bg-change--fhd 45s cubic-bezier(.9, .05, .9, .05) infinite alternate;
  z-index: -1;
}

.hero__inner {
  color: #fff;
  padding-top: 150px;
}

.hero__title {
  margin-bottom: 25px;
  max-width: 600px;
  font-size: 72px;
  font-weight: 700;
  line-height: 100px;
}

.main__text {
  margin-bottom: 80px;
  max-width: 580px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.subscribe-btn {
  display: inline-block;
  padding: 17px 35px;
  max-width: 350px;
  border: 3px solid var(--main-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  background-color: var(--main-color);
  transition: border-color .2s linear, background-color .2s linear;
}

@media (min-width: 1025px) {

  .subscribe-btn:hover {
    border-color: var(--border-color);
  }

}

.subscribe-btn:focus {
  outline: none;
  border-color: var(--active-color);
}

.subscribe-btn:active {
  border-color: var(--border-color);
  background-color: var(--active-color);
}

/* About Section */

.about__inner {
  max-width: 1080px;
}

/* Gallery Section */

.gallery {
  background: #060606 url('../img/gallery/bg.jpg') no-repeat center;
  background-size: cover;
}

.gallery__inner {
  display: flex;
}

.gallery__description {
  flex: 0 3 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.gallery__paintings {
  flex: 0 5 1150px;
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.gallery__description-inner {
  color: #fff;
}

.gallery__title {
  margin-bottom: 25px;
  line-height: .5;
}

.gallery__select-text {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1;
}

.gallery__description-text {
  padding-right: 50px;
  color: #fff;
}

.paintings__item {
  position: relative;
  display: inline-block;
  height: auto;
}

.paintings__item-image {
  border: 3px solid transparent;
}

.paintings__item-link.focus-visible>.paintings__item-image {
  border-color: var(--active-color);
}

.paintings__item-link::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  border: 3px solid var(--border-color);
  opacity: 0;
  transition: opacity .2s ease;
}

@media (min-width: 1025px) {

  .paintings__item-link::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    background: url('../img/gallery/pictures/hover.png') no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s ease;
    z-index: 1;
  }

  .paintings__item-link:hover::before {
    opacity: 1;
  }

}

.paintings__item-link:active::after {
  opacity: 1;
}

/* Gallery Select Styles */

.choices__inner {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  padding-left: 15px;
  min-height: auto;
  font-size: 16px;
  line-height: 1;
}

.choices__list--single {
  padding-left: 0;
  padding-right: 25px;
}

.choices__list--dropdown .choices__item {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  font-size: 16px;
}

.choices__inner,
.choices.is-open .choices__inner,
.choices__list--dropdown {
  border-radius: 6px;
}

.choices__inner,
.choices.is-open .choices__inner,
.choices.is-focused .choices__inner {
  border-color: #fff;
}

.choices__list--dropdown {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity .2s ease, transform .2s ease;
}

.is-open .choices__list--dropdown {
  border-color: #999;
  border-top: none;
  opacity: 1;
  transform: scaleY(1);
}

.choices__inner,
.choices__list {
  background-color: transparent;
}

.choices__item--selectable {
  color: #fff;
}

.choices__item--choice {
  color: #999;
}

.choices__item--selectable {
  transition: color .2s ease, background-color .2s ease;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices[data-type*=select-one]:after {
  right: 15px;
  margin-top: -5px;
  width: 7px;
  height: 7px;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: none;
  border-right: none;
}

.choices__item--choice.is-selected {
  display: none;
}

.choices__list--dropdown .choices__item--selectable:after {
  display: none;
}

.choices.focus-visible {
  outline: 3px solid var(--main-color);
  outline-offset: 2px;
}

/* Paintings Slider */

.paintings__list {
  height: auto;
}

/* Общие стили для кнопок слайдера: */

.swiper-button {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 25px;
  line-height: 2;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  background-color: rgba(255, 255, 255, .5);
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 100%;
  transform: translateY(-5%);
  transition: background-color .2s linear, border-color .2s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 11px;
  color: #fff;
  transition: color .2s ease;
}

.swiper-button-prev.focus-visible,
.swiper-button-next.focus-visible {
  outline: none;
  border-color: var(--active-color);
}

.swiper-button-prev.focus-visible:after,
.swiper-button-next.focus-visible:after {
  color: #000;
}

.swiper-button-gallery__prev,
.swiper-button-gallery__next {
  position: static;
}

.swiper-pagination__gallery {
  position: relative;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  left: 0;
  bottom: 0;
  width: auto;
  margin: 0 20px;
  color: #fff;
}

@media (min-width: 1025px) {

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }

  .swiper-button-prev:hover:after,
  .swiper-button-next:hover:after {
    color: #fff;
  }

}

.swiper-button-next:active,
.swiper-button-prev:active {
  border-color: var(--border-color);
  background-color: var(--active-color);
}

.swiper-button-next:active:after,
.swiper-button-prev:active:after {
  color: #fff;
}

.gallery__text {
  display: none;
  color: #fff;
}

/* Catalog Section */

.catalog__heading {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.catalog__section-title {
  margin-right: 40px;
  margin-bottom: 0;
}

.country__list {
  display: flex;
}

.country__item {
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 50%;
  line-height: 0;
}

.country__item--selected {
  border-color: var(--main-color);
}

.country__item:not(:last-child) {
  margin-right: 30px;
}

.country__btn {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: border-color .2s ease, box-shadow .2s ease;
}

.country__btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color .2s ease;
}

.country__btn:active::before {
  border-color: var(--main-color);
}

.country__btn:active {
  /* border: 2px solid var(--main-color); */
  box-shadow: none;
}

.country__btn--french {
  background-image: url('../img/catalog/country_icons/french.png');
}

.country__btn--germany {
  background-image: url('../img/catalog/country_icons/ger.png');
}

.country__btn--italian {
  background-image: url('../img/catalog/country_icons/italy.png');
}

.country__btn--russian {
  background-image: url('../img/catalog/country_icons/rus.png');
}

.country__btn--belgium {
  background-image: url('../img/catalog/country_icons/belgium.png');
}

.catalog-tabs__country {
  display: none;
  opacity: 0;
}

.catalog-tabs__country--active {
  display: block;
  opacity: 1;
  animation: fadeIn .25s ease-in-out;
}

.catalog__section-text {
  max-width: 1080px;
  margin-bottom: 50px;
}

.catalog__inner {
  display: flex;
}

.catalog__tab-list {
  flex: 0 1 750px;
  margin-right: 50px;
}

.catalog__tab-artist {
  display: none;
  opacity: 0;
}

.catalog__tab-artist--active {
  display: block;
  opacity: 1;
  animation: fadeIn .25s ease-in-out;
}

.catalog__artist-image {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.catalog__section-subtitle {
  margin-bottom: 25px;
}

.catalog__artist-years {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1.6;
  color: #999;
}

/* Catalog Accordion */

.catalog-accordion {
  flex: 0 1 800px;
}

.catalog-accordion__list {
  width: 100%;
  border-top: 1px solid #cacaca;
}

.catalog-accordion__header {
  position: relative;
  display: flex;
  min-height: 110px;
  padding: 15px 0;
  border-bottom: 1px solid #cacaca;
  cursor: pointer;
  transition: border-color .2s ease;
}

.catalog-accordion__header::before {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #ececec;
  transform: translateY(-50%);
  transition: border-color .2s ease, background-color .2s ease;
}

.catalog-accordion__header::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 19px;
  width: 12px;
  height: 12px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  transform: rotate(135deg) translateY(-50%);
  transform-origin: top center;
  transition: border-color .2s ease;
}

.catalog-accordion__subtitle {
  width: 100%;
  margin: auto 0;
  padding-right: 85px;
  transition: color .2s ease;
}

.catalog-accordion__content {
  height: 0;
  border-color: transparent;
  opacity: 0;
  visibility: hidden;
  font-size: 0;
  transition: height .2s ease, opacity .2s ease, padding .2s ease, border-color .2s ease;
}

.accordion-artists__list {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
}

.accordion-artists__link {
  transition: color .2s ease;
}

.accordion-artists__link--active {
  color: var(--main-color);
}

.accordion-artists__item a:active {
  color: var(--active-color);
  text-decoration: none;
}

.catalog-accordion__item--open .catalog-accordion__header {
  border-color: var(--main-color);
}

.catalog-accordion__item--open .catalog-accordion__content {
  padding: 25px 0 38px 0;
  height: auto;
  opacity: 1;
  visibility: visible;
  font-size: 16px;
  border-bottom: 1px solid var(--main-color);
}

.catalog-accordion__item--open .catalog-accordion__header::after {
  right: 23px;
  transform: rotate(-45deg);
}

@media (min-width: 1025px) {

  .country__btn:hover {
    box-shadow: 0 0 20px rgba(157, 92, 208, .7);
  }

  .country__btn:hover:active {
    box-shadow: none;
  }

  .catalog-accordion__header:hover .catalog-accordion__subtitle {
    color: var(--main-color);
  }

  .catalog-accordion__header:hover::before {
    background-color: var(--main-color);
  }

  .catalog-accordion__header:hover::after {
    border-color: #fff;
  }

  .accordion-artists__link:hover {
    color: var(--main-color);
    text-decoration: underline;
  }

}

.country__btn.focus-visible {
  outline: none;
  border: 2px solid var(--main-color);
  box-shadow: none;
}

.catalog-accordion__item.focus-visible {
  outline: none;
}

.catalog-accordion__item.focus-visible .section-subtitle span {
  outline: 3px solid var(--main-color);
  outline-offset: 2px;
}

.catalog-accordion__item.focus-visible .catalog-accordion__header::before {
  border-color: var(--active-color);
}

.catalog-accordion__header:active .catalog-accordion__subtitle {
  color: var(--main-color);
}

.catalog-accordion__header:active::before {
  border-color: var(--border-color);
  background-color: var(--active-color);
}

/* Events Section */

.events__list {
  display: flex;
  flex-wrap: wrap;
}

.events__card {
  flex: 0 0 calc(100% / 3 - 50px * 2 / 3);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  height: auto;
  visibility: visible;
  transform: scale(1);
  transform-origin: top;
  opacity: 1;
  transition: transform .2s ease, opacity .2s ease;
}

.events__card--hidden {
  visibility: hidden;
  margin-bottom: 0;
  height: 0;
  transform: scale(.75);
  opacity: 0;
}

.events__card:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events__photo {
  width: 100%;
  background: linear-gradient(to bottom, var(--border-color), var(--main-color));
}

.events__link {
  position: relative;
  display: block;
  overflow: hidden;
  opacity: 1;
  transition: opacity .25s ease;
}

.events__link:hover:active {
  opacity: .3;
}

.events__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 300px;
  transform: scale(1);
  transition: transform .35s ease;
}

.events__details {
  padding: 14px 18px;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
}

.events__description {
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 0;
  height: 100%;
  border: 1px solid #cacaca;
  border-top: none;
}

.events__place,
.events__date {
  display: block;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #999;
}

.events__date {
  margin-bottom: 5px;
}

.events__title {
  margin-bottom: 10px;
}

.events__text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  margin-bottom: 60px;
}

.events__details-link {
  padding-bottom: 3px;
  margin-top: auto;
  width: fit-content;
  border-bottom: 1px solid var(--main-color);
  font-size: 16px;
  line-height: 32px;
  color: var(--main-color);
  transition: color .2s ease, border-color .2s ease, font-weight .2s ease;
}

.events__details-link:active {
  border-color: var(--active-color);
  color: var(--active-color);
}

.events__all-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  border: none;
  color: var(--main-color);
  background-color: transparent;
  cursor: pointer;
  transition: color .2s ease;
  z-index: 2;
}

.events__all-btn--hidden {
  display: none;
}

.events__all-btn:active {
  color: #fff;
}

.events__all-btn::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 59px;
  width: 188px;
  transform: translate(-50%, -50%);
  border: 3px solid var(--main-color);
  border-radius: 100px;
  transition: border-color .2s ease, background-color .2s ease;
  background-color: transparent;
  z-index: -1;
}

.events__all-btn:active::before {
  border-color: var(--border-color);
  background-color: var(--active-color);
}

.events__all-btn:hover:active::before {
  border-color: var(--border-color);
  background-color: var(--active-color);
}

@media (min-width: 1025px) {

  .events__link:hover {
    opacity: .55;
  }

  .events__link:hover .events__image img {
    transform: scale(1.05);
  }

  .events__details-link:hover {
    font-weight: 700;
  }

  .events__details-link:hover:active {
    border-color: var(--active-color);
  }

  .events__all-btn:hover {
    color: #fff;
  }

  .events__all-btn:hover::before {
    background-color: var(--main-color);
  }

}

/* Events Slider */

.events__swiper-container {
  overflow: hidden;
  width: 100%;
}

.events__swiper-container>.swiper-pagination__events {
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.events__swiper-container>.swiper-pagination__events .swiper-pagination-bullet {
  margin: 0 7px;
}

.swiper-pagination__events .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #cacaca;
  opacity: 1;
}

.swiper-pagination__events .swiper-pagination-bullet-active {
  background: #666;
}

/* Publications Section */

.publications {
  display: flex;
  background: #000 url('../img/publications/bg/bg_fhd.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}

.publications__inner {
  position: relative;
  display: flex;
}

.publications__selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 340px;
  margin-right: 100px;
}

.publications__subtitle {
  display: inline-block;
  font-weight: 700;
}

.publications__checkbox {
  margin-bottom: 20px;
}

.publications__checkbox-item {
  line-height: 1.4;
}

.publications__checkbox-item:not(:last-child) {
  margin-bottom: 5px;
}

.publications__checkbox-subtitle {
  margin-bottom: 10px;
}

.publications__checkbox-custom {
  position: relative;
  display: block;
  padding-left: 20px;
  max-width: fit-content;
  cursor: pointer;
}

.publications__checkbox-input {
  display: none;
}

.publications__checkbox-input+.publications__checkbox-custom-dot {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  transform: translateY(-50%);
  text-align: center;
  transition: border-color .2s ease;
}

.publications__checkbox-custom-text {
  transition: color .2s ease;
}

.publications__checkbox-input:checked~.publications__checkbox-custom-text {
  color: var(--hover-color);
}

.publications__checkbox-input:checked+.publications__checkbox-custom-dot {
  border-color: var(--hover-color);
}

.publications__checkbox-input+.publications__checkbox-custom-dot::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--hover-color);
  opacity: 0;
  transition: opacity .2s ease, background-color .2s ease;
}

.publications__checkbox-input:checked+.publications__checkbox-custom-dot::before {
  opacity: 1;
}

.publications__checkbox-input:active~.publications__checkbox-custom-text {
  color: var(--active-color);
}

.publications__checkbox-input:active+.publications__checkbox-custom-dot {
  border-color: var(--active-color);
}

.publications__checkbox-input:active+.publications__checkbox-custom-dot::before {
  background-color: var(--active-color);
}

.publications__checkbox-unmark {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  transition: visibility .2s ease, opacity .2s ease;
}

.publications__price-form {
  padding: 0 19px;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 5px;
  height: 40px;
}

.price__form-input {
  margin: 0 7px;
  padding: 0 7px;
  height: 100%;
  max-width: 70px;
  border: none;
  background-color: rgba(157, 92, 208, 0.5);
  transition: background-color .2s ease;
}

.price__form-input:active,
.price__form-input.focus-visible {
  background-color: var(--active-color);
  outline: none;
}

@media (min-width: 1025px) {
  .publications__checkbox-input:hover~.publications__checkbox-custom-text {
    color: var(--hover-color);
  }

  .publications__checkbox-input:hover+.publications__checkbox-custom-dot {
    border-color: var(--hover-color);
  }

  .publications__checkbox-input:active:hover~.publications__checkbox-custom-text {
    color: var(--active-color);
  }

  .publications__checkbox-input:active:hover+.publications__checkbox-custom-dot {
    border-color: var(--active-color);
  }

  .price__form-input:hover {
    background-color: rgba(157, 92, 208, 0.65);
  }

  .price__form-input.focus-visible:hover {
    background-color: var(--active-color);
  }
}

/* Publication Spoiler */

.publications__checkbox-mobile {
  display: none;
}

/* Publications Slider: */

.publications__items {
  flex: 0 1 1150px;
}

.publications__items-control {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}

.swiper-button-publications {
  align-items: center;
  line-height: 1.5;
}

.swiper-pagination__publications {
  position: relative;
}

.publications__list {
  height: auto;
}

.publications__item {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}

.publications__item-cover {
  position: relative;
  margin-bottom: 20px;
}

.publications__item-link {
  display: block;
}

.publications__item-link::before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: url('../img/svg/shopping-cart.svg') no-repeat center;
  background-size: 25% auto;
  opacity: 0;
  transition: opacity .35s ease, background-size .2s ease;
  z-index: 2;
}

.publications__item-link::after {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .35);
  opacity: 0;
  transition: opacity .35s ease, width .2s ease, height .2s ease;
  z-index: 1;
}

.publications__item-image img {
  width: 100%;
}

.publications__item-image {
  position: relative;
  display: block;
}

.publications__item-image::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  border: 3px solid transparent;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, var(--main-color), var(--active-color));
  opacity: 0;
  transition: border-color .2s ease, opacity .2s ease;
  z-index: 1;
}

.publications__item-link:active .publications__item-image::before {
  border-color: var(--border-color);
  opacity: .65;
}

.publications__item-info {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.publications__item-subtitle {
  padding-right: 85px;
  line-height: 1.4;
}

.publications__item-price {
  position: absolute;
  top: 0;
  right: 0;
  font-style: italic;
  line-height: 1.4;
}

.publications__item-order {
  display: inline-block;
  padding: 8px 15px;
  margin-top: auto;
  max-width: 150px;
  border: 2px solid var(--main-color);
  border-radius: 100px;
  text-align: center;
  font-weight: 700;
  line-height: 1.4;
  background-color: transparent;
  transition: border-color .2s linear, background-color .2s linear;
}

.publications__item-order:active {
  border-color: var(--border-color);
  background-color: var(--active-color);
}

@media (min-width: 1025px) {

  .publications__item-link:hover::before,
  .publications__item-link:hover::after {
    opacity: 1;
  }

  .publications__item-link:active::before {
    background-size: 28% auto;
  }

  .publications__item-link:active::after {
    width: 100%;
    height: 100%;
  }

  .publications__item-order:hover {
    background-color: var(--main-color);
  }

  .publications__item-order:hover:active {
    background-color: var(--active-color);
  }

}

/* To Top Button */

.to-top__btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(209, 209, 209, 0.25) url(../img/svg/arrow-to-top.svg) no-repeat center;
  background-size: 20px auto;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
  z-index: 1;
}

.to-top__btn--active {
  opacity: 1;
  visibility: visible;
}

.to-top__btn:hover:active {
  background-color: rgba(209, 209, 209, 0.55);
}

@media (min-width: 1025px) {

  .to-top__btn:hover {
    background-color: rgba(209, 209, 209, 0.4);
    background-size: 23px auto;
  }

}

/* Media */

@media (max-width: 1500px) {
  .artists__item:not(:last-child) {
    margin-right: 40px;
  }

  .header__nav {
    flex-basis: 85%;
  }
}

@media (max-width: 1366px) {
  .header__logo {
    max-width: 120px;
    height: auto;
  }

  .header__nav {
    flex-basis: 82%;
  }

  .nav__item:not(:last-child) {
    margin-right: 10px;
  }

  .artists__list {
    font-size: 17px;
  }

  .artists__item:not(:last-child) {
    margin-right: 14px;
  }

  .search-bottom {
    width: 180px;
  }

  .events__card {
    flex-basis: calc(100% / 3 - 27px * 2 / 3);
  }

  .events__card:not(:nth-child(3n)) {
    margin-right: 27px;
  }

  .events__description {
    padding-left: 35px;
    padding-right: 25px;
  }

  .publications__selection {
    margin-right: 50px;
  }
}

@media (max-width: 1024px) {

  .header__bottom {
    display: none;
  }

  .header__burger {
    display: inline-block;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    opacity: 0;
    transform: translateX(-100vw);
    transition: transform .3s ease;
    overflow-y: auto;
  }

  .nav--open {
    align-items: flex-start;
    max-height: 100vh;
    opacity: 1;
    overflow-y: scroll;
    transform: translateX(0);
  }

  .header__nav {
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-between;
    min-width: auto;
    padding: 100px 25px 50px 100px;
  }

  .nav__list {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 25px;
    width: 100%;
    font-size: 24px;
  }

  .nav__item {
    max-width: 100%;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .nav__link {
    padding: 10px 0;
  }

  .personal-account__link {
    margin-left: 0;
    max-width: 100%;
    min-height: 60px;
    padding: 19px 88px;
    border: 2px solid var(--main-color);
    font-weight: 700;
    border-radius: 100px;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-top {
    display: flex;
    margin-left: auto;
    width: 36px;
    transition: width .35s ease;
  }

  .search-top--active {
    width: 250px;
  }

  .search-top__searchbar {
    width: 0;
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: width .35s ease .2s, transform .2s ease;
    transform-origin: right;
  }

  .search-top__searchbar::placeholder {
    opacity: 0;
  }

  .search-top__searchbar--active {
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
  }

  .hero__bg {
    animation-name: hero__bg-scale, hero__bg-change--1024;
  }

  .hero__title {
    line-height: 80px;
  }

  .main__text {
    max-width: 660px;
  }

  .country__item:not(:last-child) {
    margin-right: 20px;
  }

  .catalog__section-subtitle {
    margin-bottom: 15px;
  }

  .accordion-artists__list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }

  .publications {
    background-image: url('../img/publications/bg/bg_1024.jpg');
  }

  .publications__selection {
    flex-basis: 275px;
  }

  .publications__price {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 2;
  }

  .publications__checkbox-subtitle--price {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .publications__item-link::before,
  .publications__item-link::after {
    display: none;
  }

}

@media (max-width: 955px) {
  .events__list {
    max-width: 630px;
    margin: 0 auto;
  }

  .events__card {
    flex-basis: calc(100% / 2 - 34px / 2);
  }

  .events__card:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .events__card:not(:nth-child(2n)) {
    margin-right: 34px;
  }

  .publications__inner {
    flex-direction: column;
  }

  .publications__selection {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .publications__checkbox-list {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }

  .publications__price {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }

  .publications__checkbox-subtitle--price {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .publications__items-control {
    margin: 0;
  }

  .swiper-button-publications {
    margin-top: 10px;
  }

  .swiper-pagination__publications {
    line-height: 1.5;
  }

  .publications__items {
    flex-basis: auto;
    max-width: 95%;
  }

  .publications__item-image img {
    object-fit: cover;
  }
}

@media (max-width: 768px) {

  .search {
    width: 100%;
  }

  .search-top--active {
    width: 100%;
  }

  .hero__bg {
    animation-name: hero__bg-scale, hero__bg-change--768;
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
  }

  .gallery__inner {
    flex-direction: column;
  }

  .gallery__description {
    flex: 0 1 200px;
    max-width: 280px;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .gallery__description-text {
    display: none;
  }

  .gallery__paintings {
    flex: 0 1 auto;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .paintings__item {
    height: 100%;
  }

  .gallery__text {
    display: block;
  }

  .catalog__section-title {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .catalog__heading {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .country__list {
    width: 100%;
    max-width: 425px;
    justify-content: space-between;
  }

  .country__item:not(:last-child) {
    margin-right: 0;
  }

  .catalog__inner {
    flex-direction: column-reverse;
  }

  .catalog-accordion {
    flex: 0 1 auto;
    margin-bottom: 50px;
  }

  .accordion-artists__list {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }

  .catalog__tab-list {
    flex: 0 1 auto;
    margin-right: 0;
  }

  .publications {
    background-image: url('../img/publications/bg/bg_768.jpg');
  }
}

@media (max-width: 669px) {

  .events__swiper-container {
    overflow: initial;
    max-width: 317px;
  }

  .events__list {
    flex-wrap: nowrap;
    padding-bottom: 15%;
  }

  .events__list .swiper-slide {
    opacity: .3;
    transition: opacity .2s linear;
  }

  .events__list .swiper-slide-active {
    opacity: 1;
  }

  .events__card {
    flex-basis: 100%;
    margin-bottom: 0;
  }

  .events__card:not(:nth-child(2n)) {
    margin-right: 0;
  }

  .events__description {
    padding-left: 28px;
  }
}

@media (max-width: 576px) {

  .container {
    padding: 0 20px;
  }

  .header__top {
    height: 75px;
    min-height: auto;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .header__nav {
    padding-top: 75px;
    padding-left: 65px;
  }

  .hero__inner {
    padding-top: 100px;
  }

  .hero__title {
    font-size: 42px;
  }

  .country__item {
    padding: 8px;
  }

  .country__btn {
    width: 38px;
    height: 38px;
  }

  .accordion-artists__list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }

  .publications__checkbox-list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }

  .publications__price-form {
    padding-left: 15px;
    padding-right: 11px;
  }

  .publications__items-control {
    display: none;
  }

  .publications__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .publications__item {
    flex: 0 0 calc(100% / 2 - 50px / 2);
  }

  .publications__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .publications__item:nth-last-child(n+2) {
    margin-bottom: 50px;
  }

  .publications__item-subtitle {
    padding-right: 0;
  }

  .publications__item-price {
    position: relative;
  }

  .publications__item-subtitle,
  .publications__item-author {
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

}

@media (max-width: 375px) {

  .section-title {
    font-size: 28px;
  }

  section {
    padding: 50px 0;
  }

  .container {
    padding: 0 14px;
  }

  .header__top {
    height: 45px;
  }

  .header__top--mobile-search {
    height: 75px;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.65));
  }

  .header__burger {
    width: 20px;
    height: 15px;
  }

  .header__burger--hidden {
    width: 0;
  }

  .header__burger-center-line {
    top: 45%;
    width: 16px;
    height: 2px;
    transform: translateY(-55%);
  }

  .header__burger::before {
    top: -1px;
    width: 20px;
  }

  .header__burger::after {
    width: 13px;
  }

  .header__burger--active::after {
    width: 100%;
  }

  .header__burger::before,
  .header__burger::after {
    height: 2px;
  }

  .header__logo {
    max-width: 100px;
  }

  .header__nav {
    padding: 45px 14px 25px 40px;
  }

  .nav__list {
    font-size: 16px;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 5px;
  }

  .nav__link {
    padding: 5px 0;
  }

  .personal-account__link {
    padding: 10px 30px;
    min-height: 40px;
    font-size: 12px;
    font-weight: 600;
  }

  .search {
    margin: 0 auto;
    max-width: 200px;
  }

  .search-top__btn-close {
    position: absolute;
    top: -12px;
    right: 17px;
  }

  .hero__container {
    padding: 0 25px;
  }

  .hero__inner {
    padding-top: 15px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 44px;
  }

  .main__text {
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  .subscribe-btn {
    padding: 11px 20px;
    font-size: 12px;
  }

  .hero__bg {
    animation-name: hero__bg-scale, hero__bg-change--375;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery__inner {
    max-width: 295px;
    margin: 0 auto;
  }

  .swiper-button-gallery {
    justify-content: center;
    margin-bottom: 0;
  }

  .gallery__paintings {
    flex-direction: column-reverse;
  }

  .paintings__list {
    margin-bottom: 25px;
  }

  .country__item {
    padding: 6px;
  }

  .country__btn {
    width: 32px;
    height: 32px;
  }

  .accordion-artists__list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }

  .publications {
    background-image: url('../img/publications/bg/bg_375.jpg');
  }

  .publications__subtitle-mobile {
    position: relative;
    padding: 2px 0;
    margin-bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

  .publications__subtitle-mobile::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: translateY(-50%) rotate(-45deg);
  }

  .publications__checkbox :checked~.publications__subtitle-mobile::after {
    transform: rotate(135deg);
  }

  .publications__checkbox-item:not(:last-child) {
    margin-bottom: 0;
  }

  .publications__checkbox-item {
    visibility: hidden;
    padding: 0;
    border-bottom: none;
    opacity: 0;
    height: 0;
    transition: visibility .2s ease, padding .2s ease, opacity .2s ease, height .2s ease;
  }

  .publications__checkbox-item--visible {
    position: relative;
    visibility: visible;
    padding: 7px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    opacity: 1;
    height: auto;
  }

  .publications__checkbox-unmark {
    position: absolute;
    display: block;
    height: 16px;
    width: 16px;
    top: 50%;
    right: 0;
    border: none;
    transform: translateY(-50%);
    background-color: transparent;
  }

  .publications__checkbox-unmark::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: 50%;
    right: 0;
    background-color: var(--hover-color);
    transform: translateY(-50%) rotate(-45deg);
  }

  .publications__checkbox-unmark::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: 50%;
    right: 0;
    background-color: var(--hover-color);
    transform: translateY(-50%) rotate(45deg);
  }

  .publications__checkbox-unmark--active {
    visibility: visible;
    opacity: 1;
  }
}